<% if @report %>
	<h1>Your blood glucose levels for this period were</h1>
	<p>Max: <%= @report[:max] %>, Min: <%= @report[:min] %>, Average: <%= @report[:average] %></p>
	<%= link_to 'Submit a different date', new_report_path, class: "btn btn-default" %>
	<%= link_to 'Return home', root_path, class: "btn btn-default" %>
<% else %>
	<p>There are no entries for this day</p>
	<%= link_to 'submit a different date', new_report_path, class: "btn btn-default" %>
<% end %>
